*{
    margin: 0%;padding: 0%;
}
#header{
    background-color: lightgray;
    font-size: 30px;
    padding: 1.2%;
    list-style-type: none;
}
li a:hover{
    background-color: limegreen;
}
h2{
    margin-left: 30px;
}
#head{
    background-color: black;
    overflow: hidden;
    list-style-type: none;
}
#head li a{
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    display: block;
}
#head li {
    float: left;
    border-right: 1px solid white;
    list-style-type: none;
}
#content p{
    max-width: 800px;
    margin-left: 30px;
}
#aside{
    float: right;
    width: 28%;
    background-color: lightgrey;
    margin-top: -351px;
    padding-bottom: 365px;
    padding-left: 20px;
    padding-top: 20px;
}
footer{
    background-color: lightgrey;
    padding: 20px;
    text-align: right;
    margin-top: 126px;
}